@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito+Sans:opsz,wght@6..12,500&family=Playfair+Display:wght@500&display=swap');

:root{
  font-family: 'Nunito Sans', sans-serif;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}